@tailwind base;
@tailwind components;
@tailwind utilities;

.iti {
    width: 100% !important;
  }
  
  .iti__flag-container {
    z-index: 10;
  }
  
  .iti input {
    width: 100% !important;
  }


module.exports = {
  theme: {
    extend: {
      keyframes: {
        scroll: {
          '0%': { transform: 'translateX(0%)' },
          '100%': { transform: 'translateX(-50%)' },
        },
      },
      animation: {
        scroll: 'scroll 30s linear infinite',
      },
    },
  },
};

  